.recent-holidays .img-div{
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.recent-holidays .h5,
.recent-holidays .price{
    font-size: 1.5rem;
}